<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<head>
</head>
<body>
    <a href="javascript:;" onclick="(function() {
        var head= document.getElementsByTagName('head')[0];
        var script= document.createElement('script');
        script.type= 'text/javascript';
        script.src= '//code.jquery.com/jquery-1.9.0.min.js';
        head.appendChild(script);
    })();">Load JQuery</a>
    <br>
    <a href="javascript:;" onclick="(function () {
        $(function() {
            alert('JQuery works!');
        });
    })();" target="_self">Test jquery</a>
    <br>
    <a href="javascript:;" onclick="(function () {
        var links = document.getElementsByTagName('a');
        for (var i = 3; i < links.length; i++) {
            var url = links[i].href;
            $.get( url, { } , function( data ) {
                alert(data);
            });
        }
    })();" target='_self'>Test iteration</a>
    <br>
    <a href='link1'>Link1</a>
    <br>
    <a href='link2'>Link2</a>
</body>
</HTML>
