<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<head>
</head>
<body>
    <a href="javascript:;" onclick="(function () {
        function get(url) {
            if (window.XMLHttpRequest) {
                xmlhttp=new XMLHttpRequest(); // all except IE6
            } else {
                xmlhttp = new ActiveXObject('Microsoft.XMLHTTP'); // IE6 only
            }
            xmlhttp.open('GET', url ,false);
            xmlhttp.send();
            return xmlhttp.responseText;
        }
        var allText = '';
        var links = document.getElementsByTagName('a');
        for(var i = 1; i < links.length; i++) {
            allText += get(links[i].href);
        };
        alert('done');
        if (window.XMLHttpRequest) {
            window.open('data:text/json,' + encodeURIComponent(allText)); // all except IE6
        } else {
            window.clipboardData.setData ('Text', allText); // IE only!
        }
    })();">Test IE6 pure JS iteration</a>
    <br>
    <a href='link1'>Link1</a>
    <br>
    <a href='link2'>Link2</a>
</body>
</HTML>
